
<link rel='stylesheet' type='text/css' href= "{{ url_for('static',filename='styles/home_subform.css') }}">
    <div class="container">
        <header class="header">
            <h1>Profile</h1>
            <p>Webdeveloper</p>
        </header>
        
        <div class="profile-container">
            <section class="about-me">
                <h2>ABOUT ME</h2>
                <p>Hi! I am Mohammadreza Malekjan, an allround web developer. If you have a project you'd like to talk to me about, I'd be happy if you contact me. I probably can't solve your problem, but i promise it won't get worse!</p>
            </section>

            <section class="profile-image">
                <img  src="{{ url_for('static',filename='images/profile.jpg') }}" alt="Profile Picture">
            </section>
            
            <section class="details">
                <h2>DETAILS</h2>
                <p><strong>Name:</strong> Mohammadreza Malekjan</p>
                <p><strong>DoB:</strong> 1998</p>
                <p><strong>Location:</strong> Iran, Tehran, Rey</p>
            </section>
        </div>
    </div>