<link rel='stylesheet' type='text/css' href= "{{ url_for('static',filename='styles/resume_form.css') }}">

<div class="container">
  <div class="header">
    <div class="full-name">
      <span class="first-name">Mohammadreza</span> 
      <span class="last-name">Malekjan</span>
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val">malak1377@aut.ac.ir</span>
      <span class="separator"></span>
      <span class="phone">Phone: </span>
      <span class="phone-val">(+98)9197674587</span>
      <span class="separator"></span>
      <span class="date_of_birth">DoB: </span>
      <span class="date_of_birth-val">1998-07-20</span>
    </div>
    
    <div class="about">
      <span class="desc">
        Innovative Control & Machine Learning Engineer with a proven track record of designing and implementing robust control systems to optimize processes and enhance efficiency across diverse industries. Proficient in developing and deploying AI models and algorithms to tackle diverse challenges across industries. Skilled in MATLAB and Python using TensorFlow and PyTorch, with a focus on optimizing performance and scalability. I am also skilled in PLC programming, HMI development, robust linear and nonlinear controller design using classical methods alongside AI techniques
      </span>
    </div>
  </div>
   <div class="details">
    <div class="section">
      <div class="section__title">Experience</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">Textract</div>
            <div class="addr">Tehran, Iran</div>
            <div class="duration">Dec 2021 - May 2022</div>
          </div>
          <div class="right">
            <div class="name">AI Papers Annotator</div>
            <div class="desc"></div>
          </div>
        </div>
                <div class="section__list-item">
          <div class="left">
            <div class="name">Gheshm Voltage</div>
            <div class="addr">Tehran, Iran</div>
            <div class="duration">Jun 2020 - Oct 2020</div>
          </div>
          <div class="right">
            <div class="name">PLC and HMI Programming</div>
            <div class="desc"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="section">
      <div class="section__title">Education</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">Sama High School</div>
            <div class="addr">Mahallat, Markazi, Iran</div>
            <div class="duration">2016</div>
          </div>
          <div class="right">
            <div class="name">Diploma</div>
            <div class="desc">Mathematics</div>
          </div>
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="name">Amirkabir University of Technology</div>
            <div class="addr">Tehran, Iran</div>
            <div class="duration">2016 - 2020</div>
          </div>
          <div class="right">
            <div class="name">Bachelor of Science</div>
            <div class="desc">Electirical-Control Engineering</div>
          </div>
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="name">Amirkabir University of Technology</div>
            <div class="addr">Tehran, Iran</div>
            <div class="duration">2021 - 2024</div>
          </div>
          <div class="right">
            <div class="name">Master of Science</div>
            <div class="desc">Electirical-Control Engineering</div>
          </div>
        </div>

      </div>
      
  </div>
     <div class="section">
      <div class="section__title">Projects</div> 
       <div class="section__list">
         <div class="section__list-item">
           <div class="name">Modeling and Control of a Three-Dimensional Overhead Crane Robot</div>
           <div class="text">For: Modern Control Course</div>
         </div>
         <div class="section__list-item">
          <div class="name">Designing a deep learning model for persian voice command classification in smart home devices using based on Tensorflow</div>
          <div class="text">For: Computational Intelligence Lab</div>
        </div>
        <div class="section__list-item">
          <div class="name">Fuzzy controller design and simulation of a gymnast robot</div>
          <div class="text">For: Computational Intelligence Course</div>
        </div>
        <div class="section__list-item">
          <div class="name">Android application ,PI controller design and identification of lighting system of smart homes</div>
          <div class="text">For: BSc Project</div>
        </div>
        <div class="section__list-item">
          <div class="name">Linear MIMO power controller desgin for a jet engine</div>
          <div class="text">For: MIMO Control Course</div>
        </div>
        <div class="section__list-item">
          <div class="name">Simulating a deep learning approach for sleep stage classification with single-channel EEG based on pytorch</div>
          <div class="text">For: Advanced Machine Learning Course</div>
        </div>
        <div class="section__list-item">
          <div class="name">Robust analysis of a state of the art load frequency controller for power systems</div>
          <div class="text">For: Robust Control Course</div>
        </div>
        <div class="section__list-item">
          <div class="name">Robust MIMO secondary frequency modeling and control of Shahid Rajaei combined cycle power plant using classic and deep learning methods</div>
          <div class="text">For: Msc Thesis</div>
        </div>
       </div>
    </div>
     <div class="section">
       <div class="section__title">Skills</div>
       <div class="skills">
       <div class="skills__item">
          <div class="left">
            <div class="name">Android Programming (Java)</div>
          </div>
          <div class="right">
            <label for="ck1"></label>
            <label for="ck2"></label>
            <label for="ck3"></label>
            <!--input  id="ck1" type="checkbox" checked/-->
          </div>

          <div class="left">
            <div class="name">Deep Learning (Python)</div>
          </div>
          <div class="right">
            <label for="ck1"></label>
            <label for="ck2"></label>
            <label for="ck3"></label>
            <label for="ck4"></label>
          </div>

          <div class="left">
            <div class="name">PLC Progrmming (Ladder)</div>
          </div>
          <div class="right">
            <label for="ck1"></label>
            <label for="ck2"></label>
            <label for="ck3"></label>
          </div>

          <div class="left">
            <div class="name">ARM and AVR Programming (C & C++)</div>
          </div>
          <div class="right">
            <label for="ck1"></label>
            <label for="ck2"></label>
            <label for="ck3"></label>
          </div>

          <div class="left">
            <div class="name">Controller Identification Using (MATLAB & Python)</div>
          </div>
          <div class="right">
            <label for="ck1"></label>
            <label for="ck2"></label>
            <label for="ck3"></label>
            <label for="ck4"></label>
            <label for="ck5"></label>
          </div>
       </div>
         
       </div>
     </div>

     <div class="section">
      <div class="section__title">Language</div>
      <div class="skills">
        <div class="skills__item">
          <div class="left">
            <div class="name">English</div>
          </div>
          <div class="right">
            <label for="ck1"></label>
            <label for="ck2"></label>
            <label for="ck3"></label>
            <label for="ck4"></label>
          </div>

          <div class="left">
            <div class="name">Farsi</div>
          </div>
          <div class="right">
            <label for="ck1"></label>
            <label for="ck2"></label>
            <label for="ck3"></label>
            <label for="ck4"></label>
            <label for="ck5"></label>
          </div>
        </div>

      </div>
     </div>
  </div>
</div>