<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Resume Website</title>
    <link rel='stylesheet' type='text/css' href= "{{ url_for('static',filename='styles/test.css') }}">
</head>
<body>
    <form action="#" method="post">
        <div class="input-group">
            <label for="your_name">Your Name</label>
            <input type="text" id="your_name" name="your_name">
        </div>
        <button type="submit">Submit</button>
    </form>
    <h1>Hello {{test_name}}!</h1>
    <form action="#" method="post" enctype="multipart/form-data">
        <input type="file" id="filename" name="filename">
        <input type="submit" value=Upload>
    </form>
</body>
</html>